.footer {
    width: 100%;
    background-color: $G300;

    &__container {
        max-width: 110rem + ($base-size * 2);
        margin: 0 auto;
        padding: ($line-height * 4) $base-size 0;
    }

    &__bottom {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid $B300;
        padding-bottom: $line-height / 2;
        margin-top: $line-height;
    }

    &__info {
        color: $B300;
        font-size: 1.2rem;
        margin: 0;
    }
}