
$B100: #111;
$B200: #333333;
$B300: #777777;

$G200: #E6E6E6;
$G300: #F2F2F2;

$white: #FFF;

$shadow-xl: 0 1rem 3rem rgba(0,0,0, .1);

$body-font: 'Open Sans', -apple-system, 'Segoe UI', sans-serif;
$title-font: 'Source Serif Pro', serif;

$base-size: 1.8rem;
$line-height: $base-size * 1.66666667;

